body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #2f1040;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  animation: fadein 3s;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 3.9px;
}
::-webkit-scrollbar-thumb {
  background: rgb(98, 87, 100);
}
::-webkit-scrollbar-track {
  background: rgb(22, 22, 22);
}


@keyframes fadein {
  from {
    opacity: 0;
    /* transform: scale(0.99); */
  }
  to {
    opacity: 1;
    /* transform: scale(1); */
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    /* transform: scale(0.99); */
  }
  to {
    opacity: 1;
    /* stransform: scale(1); */
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    /* transform: scale(0.99); */
  }
  to {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-Index: -1;
  opacity: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}