body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(22, 21, 21);
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  animation: fadein 3s;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 3.9px;
}
::-webkit-scrollbar-thumb {
  background: rgb(98, 87, 100);
}
::-webkit-scrollbar-track {
  background: rgb(22, 22, 22);
}


@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.99);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.99);
  }
  to {
    opacity: 1;
    stransform: scale(1);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.99);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-Index: -1;
  opacity: 50%;
}