.rec.rec-arrow, .rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled{
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: #ffffff86;
    user-select: none;
}

.rec.rec-arrow:hover:enabled {
    color: white;
}

.rec.rec-arrow:disabled {
    opacity: 0;
    cursor: inherit;
}


.rec.rec-item-wrapper {
  height: 100%;
}

.rec.rec-carousel-wrapper {
    max-width: 800px;
    margin: auto;
    /* color: #42779c */
    font-size: 1.2rem;
}

.rec.rec-slider-container {
    /* background: rgba( 255, 255, 255, 0.45 ); */
    background: rgb(0 0 0 / 58%);
    box-shadow: 0 12px 10px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 400px;
    height: inherit;
}

.rec.rec-dot {
    box-shadow: none !important;
    background-color: #ffffff1f;
    height: 15px;
    width: 15px;
}

.rec.rec-dot.rec-dot_active {
    background-color: #ac5143;
}

.rec.rec-pagination {
    margin-top: 25px;
}



/* Radio label styles */
.MuiTypography-body1 {
    font-size: inherit !important;
}


/* Media Queries */
@media screen and (max-width: 800px) {
    .rec.rec-carousel-wrapper {
        width: 100vw;
    }
}

@media screen and (max-width: 450px) {
  .rec.rec-arrow {
    display: none;
}
}