.bgimg {
  position: fixed;
  width: 100%;
  height: calc(100% - 32px);
  background: rgb(20, 20, 20);
  background-position: center;
  background-size: cover;
}


.pillar,
.kingdom {
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.kingdom {
  height: 100%;
}

.div {
  margin-left: 34%;
  margin-right: 35%;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
  margin-top: 140vh;
  height: min-content;
  color: #fff;
  font-size: 30px;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.topDiv {
  margin-left: 34px;
  width: 430px;
  height: min-content;
  color: white;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  margin-top: auto;
  background: rgba(0, 0, 0, .6);
}

.h1 {
  font-size: 43px;
  padding: 0;
  margin: 0;
}

.h3 {
  font-size: 23px;
}

.topCont {
  align-content: center;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50%;
  text-align: center;
  letter-spacing: 2pt;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: transparent;
}

.moon {
  display: block;
  width: 25%;
  margin-left: 35%
}

.light {
  display: block;
  width: 100%;
  margin-left: 0%
}

.credits {
  font-size: 15px;
}

.tm {
  font-size: 10px;
}

@media screen and (max-width: 900px) {

  .bgimg {
    width: 200vw;
  }

  .pillar,
  .kingdom {
    transform: scaleX(1.25);
  }

  .div {
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    font-size: 25px;
    height: min-content;
    margin-left: 30%;
    margin-right: 30%;
  }

  .team {
    padding: 10px;
    border-radius: 0.5rem;
    margin-bottom: 60%;
    margin-left: -30%;
  }

  .moon {
    width: 46%;
    margin-left: 28%;
  }

  .light {
    display: block;
    width: 100%;
    margin-left: 0%
  }

}

@media screen and (max-width: 650px) {

  .pillar,
  .kingdom {
    transform: scaleX(2.2);
  }

  .topDiv {
    margin: auto;
  }

  .div {
    padding-left: 10px;
    padding-right: 10px;
    width: 66%;
    font-size: 20px;
    margin-left: 17%;
    margin-right: 17%;
    height: min-content;
  }

  .team {
    margin-left: -30%;
    padding: 20px;
    border-radius: 0.5rem;
    margin-bottom: 36%;
  }

  .moon {
    width: 46%;
    margin-left: 28%;
  }

  .light {
    width: 200%;
    margin-left: -50%
  }

}

@media screen and (max-width: 450px) {
  .topDiv {
    width: 250px;
  }

  .h1 {
    font-size: 23px;
  }

  .h3 {
    font-size: 14px;
  }

  .credits {
    font-size: 8px;
  }

  .tm {
    font-size: 6px;
  }
}

@keyframes glow {
  from {
    text-shadow: 2px 2px 6px #ff0000;
  }

  to {
    text-shadow: 4px 4px 10px #ff0000;
  }
}

.btn {
  margin: 40px;
}

.button {
  color: black !important;
  font-size: 13px !important;
  font-weight: bold !important;
  padding: 15px !important;
  background: linear-gradient(to right, #caac30 0%, #caac30 32%, #ffffffdd 100%);
}