.bgimg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


.pillar,
.muhesh {
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.muhesh {
  height: 100%;
}

.div {
  margin-left: 34%;
  margin-right: 35%;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
  margin-top: 130vh;
  height: min-content;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.topDiv {
  margin-left: 34px;
  width: 300px;
  height: min-content;
  color: white;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  margin-top: auto;
  background: rgba(0, 0, 0, .6);
}

.topCont {
  align-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50%;
  text-align: center;
  letter-spacing: 2pt;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: transparent;
}

.moon {
  display: block;
  width: 25%;
  margin-left: 35%
}

.light {
  display: block;
  width: 100%;
  margin-left: 0%
}

@media screen and (max-width: 900px) {

  .bgimg,
  .pillar {
    transform: scaleX(1.5);
  }

  .pillar,
  .muhesh {
    transform: scaleX(1.25);
  }

  .div {
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    font-size: 25px;
    height: min-content;
    margin-left: 30%;
    margin-right: 30%;
  }

  .team {
    padding: 10px;
    border-radius: 0.5rem;
    margin-bottom: 60%;
    margin-left: -30%;
  }

  .moon {
    width: 46%;
    margin-left: 28%;
  }

  .light {
    display: block;
    width: 100%;
    margin-left: 0%
  }

}

@media screen and (max-width: 650px) {
  .bgimg {
    transform: scaleX(2);
  }

  .pillar,
  .muhesh {
    transform: scaleX(2.2);
  }

  .topDiv {
    margin: auto;
  }

  .div {
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    height: min-content;
  }

  .team {
    margin-left: -30%;
    padding: 20px;
    border-radius: 0.5rem;
    margin-bottom: 36%;
  }

  .moon {
    width: 46%;
    margin-left: 28%;
  }

  .light {
    width: 200%;
    margin-left: -50%
  }

}