.bgimg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


.pillar{
  display: block;
  height: 400vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.div{
  margin-left:35% ;
  margin-right: 34%;
  padding-left: 30px;
  padding-right: 30px;
  width:30%;
  margin-top: 200vh;
  height: min-content;
  color: #fff;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .bgimg, .pillar{
    transform:scaleX(1.5);
  }
  .pillar{
    transform:scaleX(1.8);
  }
}

@media screen and (max-width: 450px) {
  .bgimg {
    transform:scaleX(2);
  }
  .pillar{
    transform:scaleX(2);
  }
}