.indresh{
  /* background:"#d98eec7e"; */
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important; 
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.indresh:hover{
  background: radial-gradient(circle at 50% 107%,#474547a2 60%, #755d91 90%) !important;
}
.fb{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important; 
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.fb:hover{
  background: #6158dd7e !important;
}
.ig{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important; 
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.ig:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}
.med{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important; 
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.med:hover{
  background: rgb(255 192 23) !important;
}
.yt{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important; 
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.yt:hover{
  background: #ff0000 !important;
}
.lin{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important; 
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.lin:hover{
  background: #2e8ad6ea !important;
}
